<header class="header">
    <div class="header-wrap clearfix">
        <!--brand log-->
        <div class="brand fl hide">
            <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
        </div>
        <div class="menu fr">
            <!--menu-pc-->
            <ul class="menu-pc clearfix">
                <% for(var i in theme.menu){ %>
                <li class="<% if(i == 'RSS'){ %>hide<% } %>"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                <% } %>
            </ul>
            <!--menu-mb-btn-->
            <button class="menu-mb-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!--menu-mb-->
        <ul class="menu-mb">
            <% theme.widgets.forEach(function(widget){ %>
            <li class="<% if(widget == 'recent_posts'){ %>hide<% } %>"><a
                        href="<%- url_for(widget) %>"><%= __(widget) %></a></li>
            <% }) %>
        </ul>
    </div>
</header>