<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="博客,blog,javascript,web,nodejs"/>
	<meta name="description" content="<%= config.description %>">
	<%
	var title = page.title;
	if (is_archive()) {
		if (is_month()) {
			title = page.year + '/' + page.month;
		} else if (is_year()) {
			title = page.year;
		}
	} else if (is_category()) {
		title = page.category;
	} else if (is_tag()) {
		title = page.tag;
	}
	%>
	<title><% if (title){ %><%= title %> |<%_ } %><%= config.title %></title>
	<% if (theme.favicon){ %>
	<link rel="icon" type="image/x-icon" href="<%- theme.favicon %>">
	<% } %>
	<%- css(['css/style','css/monokai-sublime']) %>
</head>

