<div class="post-wrap">
    <h2 class="post-title"><%- page.title %></h2>
    <div>
        <%- page.excerpt %>
    </div>
    <% if(page.toc){%>
    <div class="toc-article">
        <strong class="toc-title">文章目录</strong>
        <%- toc(page.content,{
            list_number:false
        }) %>
    </div>
    <% }%>
    <%- page.more %>
    <div class="share-warp clearfix">
        <%- partial("_partial/share") %>
    </div>
    <% if(page.prev){%>
    <div class="page-prev">
        <span>上一篇：</span>
        <a href="<%- page.prev.permalink%>"><%- page.prev.slug%></a>
    </div>
    <% }%>
    <% if(page.next){%>
    <div class="page-prev">
        <span>下一篇：</span>
        <a href="<%- page.next.permalink%>"><%- page.next.slug%></a>
    </div>
    <% }%>
    <%- partial("_partial/comment") %>
</div>
