<header class="header">
	<%
	var current_page = "";
	if(is_current('about')){
		current_page = __('ABOUT');
	}else if(is_home()){
		current_page = __('HOME');
	}
	var len=theme.widgets;
	%>
	<div class="header-wrap clearfix">
		<div class="brand fl hide">
			<h1><a href="<%- url_for() %>"><%= config.title%></a></h1>
		</div>
		<div class="menu fr">
			<ul class="menu-pc clearfix">
				<%for(var i in theme.menu){%>
				<li class="<%if(i=='RSS'){%>hide<%}%>"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
				<%}%>
			</ul>
			<button class="mb-btn">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>

		<ul class="mb-tab">
			<%theme.widgets.forEach(function(widget){%>
			<li><a class="" href="<%- url_for(widget) %>"><%= __(widget) %></a></li>
			<%})%>
		</ul>

	</div>
</header>